name: Action Workflow
on: [push]
jobs:
  run-github-actions:
    runs-on: ubuntu-22.04
    steps:
      - name: ls and pwd
        run: |
          echo $name
      # - name: checkout
      #   id: checkout
      #   uses: actions/checkout@v1.0.0
      # - name: ls and pwd after
      #   run: |
      #     pwd
      #     ls -a
      # - name: simple JS action
      #   id: greet
      #   uses: actions/hello-world-javascript-action@v1.1
      #   with:
      #     who-to-greet: Fathalla
      # - name: Log greeting time
      #   run: echo "${{ steps.greet.outputs.time }}"
        
        